{
	"name" : "",
	"friendlyName" : "",

  "spawnProfile" : {
    "groups" : [
      {
        "select" : 1,
        "pool" : "generatedGround"
      },
      {
        "select" : 3,
        "pool" : [
          [ 1, "bunnycommon" ],
          [ 1, "reasonablecritter" ],
          [ 1, "redbreastcritter" ],
          [ 1, "yeticritter" ],
          [ 1, "wintercritter" ],
          [ 1, "quibblecritter" ],
					[ 1, "cliffcritter" ],
					[ 1, "owlcritter" ],
					[ 1, "frozenowlcritter" ]
        ]
      }
    ],
    "monsterParameters" : {
      "colors" : "snow"
    }
  },

//---------------------------------------------------------------------------------------------------------------------------------------
//Basic Settings
//---------------------------------------------------------------------------------------------------------------------------------------
  "mainBlock" : "",
  "subBlocks" : [ "", "" ],
  "ores" : "surface",
	
//---------------------------------------------------------------------------------------------------------------------------------------
//Surface Placeables
//---------------------------------------------------------------------------------------------------------------------------------------
  "surfacePlaceables" : {
		"grassMod" : [ "" ],
		"grassModDensity" : 0.9,
		
    "items" : [
//------TREASURE-------------------------------------------------------------------------------------------------------------------------
      {
        "mode" : "floor",
        "priority" : 1.0,
        "variants" : 1,
        "distribution" : "/biomes/distributions.config:surfaceCapsules",

        "type" : "object",
        "objectSets" : [
          {
            "pool" : [ [0.35, "capsulesmall" ], [0.35, "capsulemed" ], [0.35, "capsulebig" ] ],
            "parameters" : { }
          }
        ]
      }
///-----FLORA-----------------------------------------------------------------------------------------------------------------------------
    ]
  },

//---------------------------------------------------------------------------------------------------------------------------------------
//Underground Placeables
//---------------------------------------------------------------------------------------------------------------------------------------
  "undergroundPlaceables" : {
    "items" : [
//------TREASURE-------------------------------------------------------------------------------------------------------------------------
      {
        "mode" : "floor",
        "priority" : 1.0,
        "variants" : 1,
        "distribution" : "/biomes/distributions.config:undergroundCapsules",

        "type" : "object",
        "objectSets" : [
          {
            "pool" : [ [0.35, "capsulesmall" ], [0.35, "capsulemed" ], [0.35, "capsulebig" ] ],
            "parameters" : { }
          }
        ]
      }
///-----FLORA-----------------------------------------------------------------------------------------------------------------------------
    ]
  }
}
